body.unvl
{
/*  background-color:#f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
  font-size:.8em;
  text-align:left;
  overflow-x: scroll;
  overflow-y: scroll;
  height:100%;
  padding:0%;
  margin: 0%;*/
}

div.header
{
/*  padding:0%;
  left:0px;
  top:0px;
  background-color:#404040;
  position: relative;
  float:center;
  width:100%;
  height: 100px;
  border:1px solid #000000;
  color: inherit;
  margin: auto;*/
}

div.body
{
  padding:0%;
  margin: 0%;
  top:0px;
  background-color:#c0c0ff;
  position: relative;
  float:center;
  width:100%;
  height: 600px;
  border:1px solid #000000;
  color: inherit;
  overflow-x: scroll;
  overflow-y: scroll;
}

div.footer
{
/*  padding:0%;
  left:0px;
  top:0px;
  background-color:#404040;
  position: relative;
  float:center;
  width:100%;
  height: 100px;
  border:1px solid #000000;
  color: inherit;
  margin: auto;*/
}

footer.clear
{
  height:100%;
}

div.logounvl
{
  background-color:inherit;
  position: absolute;
  top: 0px;
  left:40px;
  width:209px;
  height:30px;
}

a.logo
{
  background-color:inherit;
  background:url('img/logo.svg');
  position: absolute;
  top: 0px;
  left:0px;
  width:209px;
  height:30px;
}

div.title_frame
{
  background-color:#e0e0e0;
  border:1px solid #000000;
  position: absolute;
  top: 10px;
  right:1%;
  width:78%;
  height:30px;
}

div.title
{
  position: absolute;
  text-align:center;
  vertical-align:top;
  float:center;
  line-height: 30px;
  font-size:2em;
  width:100%;
  height:30px;
  background-color:inherit;
  overflow-x: auto;
  overflow-y: auto;
}

div.credits
{
  position: absolute;
  right:0px;
  width:30px;
  height:30px;
  background:url('img/info.gif');
}

div.launch
{
  position: absolute;
  left:0px;
  width:30px;
  height:30px;
  background:url('img/launch.gif');
}

/*----------------------
Menú
-----------------------*/

div.menu
{
  font-size:1.1em;
  border: solid 1px #000000;
  position:absolute;
  left:10px;
  top:50px;
  background-color:#ffffff;
  width:209px;
  height:260px;
  overflow-x: scroll;
  overflow-y: scroll;
}

div.menuAlone
{
  font-size:1.1em;
  border: solid 1px #000000;
  position:relative;
  left:1%;
  top:50px;
  background-color:#ffffff;
  width:19%;
  height:500px;
  overflow-x: scroll;
  overflow-y: scroll;
}

div.section_name
{
  color:#000000;
  position:relative;
  left:10px;
}

a.section_name
{
  color:#000000;
  position:relative;
  left:0px;
}

a
{
  color:inherit;
}

/*  About  */

table.about
{
  text-align: left;
  font-size:.8em;
  border-collapse:collapse;
}

th.about_title
{
  text-align: center;
  font-size:1.0em;
  color:#000000;
  border: solid 1px #000000;
  background-color:#FFCCCC;  
}

td.about_name
{
  color:#000000;
  width:150px;
  border: solid 1px #000000;
  background-color:#FFCCCC;
}

td.about_value
{
  color:#3333FF;
  width:300px;
  border: solid 1px #000000;
  background-color:#FFEEEE;
}

td.about_video
{
  text-align: center;
  color:#3333FF;
  width:60px;
  border: solid 1px #000000;
  background-color:#FFEEEE;
}

/* documentation */

div.documentation
{
  display: table;
  padding:0px;
  background-color:#ffffff;
  position: absolute;
  top:50px;
  right:1%;
  width:78%;
  height:260px;
  border:1px solid #000000;
  color: inherit;
}

div.documentationAlone
{
  padding:0px;
  background-color:#ffffff;
  position: absolute;
  top:50px;
  right:1%;
  width:78%;
  height:500px;
  border:1px solid #000000;
  color: inherit;
}

div.documentationEmbed
{
  padding:0px;
  background-color:#ffffff;
  position: absolute;
  top:50px;
  right:10px;
  width:900px;
  height:260px;
  border:1px solid #000000;
  color: inherit;
}

object.documentation
{
  width:100%;
  height:100%;
}

div.messagenomodel
{
  position: absolute;
  width:100%;
  top: 200px;
  background-color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size:2em;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

/* controls */

div.controls
{
  position: absolute;
  left:10px;
  top: 320px;
  background-color:#aaaaaa;
  border: solid 1px #000000;
  width:209px;
  margin-left:auto;
  margin-right:auto;
}


div.controlsAlone
{
  position: absolute;
  left:1%;
  top: 50px;
  background-color:#aaaaaa;
  border: solid 1px #000000;
  width:19%;
  margin-left:auto;
  margin-right:auto;
}

div.controlsEmbed
{
  position: absolute;
  left:10px;
  top: 50px;
  background-color:#aaaaaa;
  border: solid 1px #000000;
  width:209px;
  margin-left:auto;
  margin-right:auto;
}

table.controls
{
  color:#0000ff;
  font-size:1.0em;
}

th.controls
{
  color:#0000ff;
  width:200px;
  text-align:left;
}

td.controls
{
  color:#000000;
  width:100px;
  text-align:left;
}

input.controls
{
  width:100%;
  height:20px;
}

div.controls_buttons
{
  text-align:center;
}

input.controls_button
{
  background-color:#dddddd;
  border: solid 1px #000000;
  width:70px;
  height:25px;
  font-size:0.8em;
  padding:0px;
/*  width:70px;
  text-align:center;
  margin-top:10px;*/
}

div.controls_change
{
  width: 90px;
  height: 30px;
  position:relative;
  top:0px;
}

div.controls_change_plus
{
  background-image:url('img/mas.gif');
  position:absolute;
  top:2px;
  left:0px;
  width:20px;
  height:10px;
}

div.controls_change_minus
{
  background-image:url('img/menos.gif');
  position:absolute;
  top:12px;
  left:0px;
  width:20px;
  height:10px;
}

svg.controls
{
 width:100%;
 height:8px;
}

rect.control_bar
{
 fill:#ff0000;
 stroke:none;
}

rect.control_back
{
 fill:none;
 stroke:none;
}


select.controls
{
  background-color:#ffffff;
  width:100%;
}
/* OUTPUTS*/

div.outputs
{
  padding:0px;
  margin:0px;
  position: absolute;
  top: 320px;
  right:1%;
  width:78%;
  height:220px;
  color: inherit;
}

div.outputsEmbed
{
  padding:0px;
  margin:0px;
  position: absolute;
  top: 50px;
  right:10px;
  width:682px;
  height:220px;
  color: inherit;
}

div.outputsAlone
{
  position: absolute;
  top: 50px;
  right:1%;
  width:78%;
  height:220px;
  color: inherit;
}


/* PLOTS */

div.plots
{
  position: relative;
  left:10px;
  top: 0px;
  background-color:inherit;
  border: solid 0px #000000;
  margin-left:10px;
  margin-right:auto;
  display: inline;
}

/*SVG*/

/*Anim2d*/
div.anim2d
{
  position: relative;
  left:10px;
  top: 0px;
  background-color:inherit;
  border: solid 0px #000000;
  margin-left:10px;
  margin-right:auto;
  display: inline;
}

div.animation
{
  position: relative;
  background-color:inherit;
  border: solid 1px #000000;
  width: 300px;
  display: inline-block;
}

div.animationTitle
{
  position: relative;
  display: block;
  font-weight:bold;
  text-align:center;
}

/*TABLES*/
div.tables
{
  overflow: auto;
  position: relative;
  left:1%;
  top: 1%;
  background-color:inherit;
  border: solid 1px #000000;
  width:98%;
  height:220px;
  margin-left:10px;
  margin-right:auto;
  text-align:center;
}

table.outputs
{
  float:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  border: solid 1px #000000;
  color:#000000;
  font-size:0.8em;
  border-collapse:collapse;
}

tr.outputs:hover
{
  background-color: #88DDDD;
} 

td.outputsTitle
{
  border: solid 1px #000000;
  font-weight: bold;
  text-align:center;
  width:40px;
}

td.outputs
{
  border: solid 1px #000000;
  text-align:center;
  width:40px;
}

div.downdata
{
  text-align:center;
  margin-top:10px;
}

input.downdata
{
  background-color:#dddddd;
  border: solid 1px #000000;
  width:100px;
  height:25px;
  font-size:0.8em;
  padding:0px;
}

/* ADMIN */


body.unvl_admin
{
  background-color:#ffdddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size:.8em;
  text-align:left;
  overflow-x: scroll;
  overflow-y: scroll;
  height:2000px;
}

div.body_admin
{
  padding:10px;
  background-color:#ffaaaa;
  position: relative;
  float:center;
  width:1200px;
  height: 100%;
  border:1px solid #000000;
  color: inherit;
  margin-left: auto;
  margin-right: auto;
}

/* ADMIN GENERAL */

div.admin_general
{
  background-color:#e0e0e0;
  border:1px solid #000000;
  position: absolute;
  top: 10px;
  right:10px;
  width:981px;
/*  height:30px; */
}

table.update
{
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  text-align: left;
  font-size:.8em;
  border-collapse:collapse;
}

th.update_title
{
  text-align: center;
  font-size:1.0em;
  width:150px;
  color:#000000;
  border: solid 1px #000000;
  background-color:#FFCCCC;  
}

td.update_name
{
  color:#000000;
  width:150px;
  border: solid 1px #000000;
  background-color:#FFCCCC;
}

td.update_value
{
  color:#3333FF;
  width:300px;
  border: solid 1px #000000;
  background-color:#FFEEEE;
}


/* ADMIN MODELFILES */

table.updatefile
{
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  text-align: left;
  font-size:.8em;
  border-collapse:collapse;
  background-color:#FFEEEE;
  width:200px;
  border:solid 1px #000000;
}

td.updatefile_name
{
  width:120px;
}

td.updatefile_file
{
  width:30px;
}

td.updatefile_button
{
  width:55px;
}

div.admin_modelfiles
{
  background-color:transparent;
  border:0px solid #000000;
  position:absolute;
  left:10px;
  top:350px;
  width:209px;
}

input.normalUpdate
{
  width:300px;
}

textarea.normalUpdate
{
  width:300px;
  height:100px;
}

input.miniUpdate
{
  width:50px;
}

input.mediumUpdate
{
  width:100px;
}

select.normalUpdate
{
  width:300px;
}

select.miniUpdate
{
  width:100px;
  text-align:center;
}

input.checkUpdate
{
  width:40px;
}

input.controls_button_file
{
  width:50px;
  text-align:center;
}

input.color
{
  width:70px;
}

.SI-FILES-STYLIZED label.cabinet
{
    width: 25px;
    height: 25px;
    background: url(img/btn-choose-file.svg) 0 0 no-repeat;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.SI-FILES-STYLIZED label.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/* ANIM2D */

div.anim2d
{
/*  position: absolute;*/
  position: relative;
  right:10px;
  top: 0px;
  background-color:inherit;
  border: solid 0px #000000;
/*  width:302px;*/
  margin-left:10px; /*auto*/
  margin-right:auto;
}

/*======================
//     Wellcome       //
======================*/
div.wellcome_box
{
  border: solid 4px #000000;
  background-color:#ffff99;
  padding: 20px;
  text-align:center;
  color:#0000FF;
  position:relative;
  float:center;
  width: 350px;
  margin-left:auto;
  margin-right:auto;
  top:150px;
}

div.wellcome
{
  font-size:3em;
}

div.wellcome_sub
{
  font-size:2em;
}

div.wellcome_explain
{
  font-size:0.8em;
}

div.wellcome_buttons
{
  background-color:#inherit;
  padding: 10px;
  text-align:center;
  color:#000000;
  position:relative;
  float:center;
  width: 350px;
  margin-left:auto;
  margin-right:auto;
  top:150px;
}

input.wellcome_button
{
  background-color:#dddddd;
  border: solid 1px #000000;
  position:relative;
  float:center;
  color:#000000;
  margin-left:auto;
  margin-right:auto;
  width:150px;
  height:25px;
  font-size:1.0em;
}

input.login
{
}

td.login_label
{
  text-align:right;
}
td.login_data
{
  text-align:left;
}
td.login_button
{
  text-align:center;
}

/* ADMIN LOGOUT */

div.admin_logout
{
  background-color:transparent;
  border:0px solid #000000;
  position:absolute;
  left:10px;
  top:320px;
  width:209px;
  height:25px;
  text-align:center;
}

input.logout_button
{
  background-color:#dddddd;
  border: solid 1px #000000;
  position:relative;
  float:center;
  color:#000000;
  margin-left:auto;
  margin-right:auto;
  width:150px;
  height:25px;
  font-size:1.0em;
}

