
svg.plot
{
  width:320px;
  height:320px;
  background-color:inherit;  
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
}

rect.plot
{
  fill:#ffffff;
  stroke:#ffffff;
  stroke-width:2px;
}

rect.frame
{
  fill:#FFFFFF;
  stroke:#192C47;
  stroke-width:7px;
}

rect.tag
{
  fill:#ffffff;
  stroke:none;
  stroke-width:1px;
}

line.grid
{
  stroke:#CCCCCC;
/*  stroke-dasharray: 3 3;*/
  stroke-width:0.4px;
}

text.title
{
  font-size:20pt;
  fill:#192C47;
}

text.tagV
{
  font-size:10pt;
  fill:#888888;
  dominant-baseline:middle;
}

text.tagH
{
  font-size:10pt;
  fill:#888888;
  dominant-baseline:auto;
}

text.legend
{
  font-size:10pt;
  dominant-baseline:middle;
}

path.curve
{
  fill:none;
  stroke-width:0.5px;
}

